/* Colors */
:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --STALE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-MODDAL: #2e2f42 * 0.4;
  --GREY: #2e2f42 * 0.7;
  --WHITE: #ffffff;
  --GAIRY: #fcfcfc;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--WHITE);
  color: var(--STALE);
  font-size: 16px;
  font-style: 500;
  letter-spacing: 0.02em;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 320px) {
  .container {
    inline-size: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header {
    background-color: var(--WHITE);
    border-block-end: 1px solid var(--CORNFLOWER);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    position: sticky;
    inset-block-start: 0;
    z-index: 999;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
  }

  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS);
    text-decoration: none;
    margin-inline-end: 149px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .logo-span {
    font-family: "Raleway", sans-serif;
    color: var(--NAVY-BLUE);
  }

  .menu-button {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
  }

  .nav-menu,
  .address {
    display: none;
  }

  .modal-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--GAIRY);
    padding-left: 16px;
  }

  .close-menu-button {
    position: absolute;
    inset-block-start: 24px;
    inset-inline-end: 24px;
    inline-size: 24px;
    block-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--CORNFLOWER);
    fill: var(--NAVY-BLUE);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    gap: 40px;
  }

  .nav-link {
    color: var(--NAVY-BLUE);
    font-size: 36px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--OCEAN);
  }

  .mobile-menu-address {
    margin-top: 168px;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .address-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .address-link {
    color: var(--STALE);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--IRIS);
  }

  .header-social-media {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 48px;
  }

  .header-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 40px;
    block-size: 40px;
    border-radius: 50%;
  }

  .header-social-link {
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* main  */
  /* first section  */

  .first-section {
    background-color: var(--NAVY-BLUE);
    max-inline-size: 320px;
    block-size: 430px;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .main-title {
    color: var(--WHITE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: flex;
    margin: 0 auto;
    padding-bottom: 72px;
  }

  .order-button {
    background-color: var(--IRIS);
    color: var(--WHITE);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-inline-size: 169px;
    block-size: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-button:hover,
  .order-button:focus {
    background-color: var(--OCEAN);
    cursor: pointer;
  }
}
